@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@1,9..144&family=Lato&family=Montserrat&family=Open+Sans:wght@400;800&family=Oswald&family=Poppins:wght@400;600&family=Roboto&display=swap");

:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--Darkcyan);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 50% right 120%, top -40% left 120%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .profile_card {
  width: 350px;
  margin: auto;
  height: 45vh;
  background-color: white;
  border-radius: 1em;
}

.profile_card .top_card {
  text-align: center;
}

.top_card .pattern {
  width: 100%;
  height: 150px;
  background-image: url(images/bg-pattern-card.svg);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.top_card .icon {
  margin: 6em 0 0 0;
  border-radius: 50%;
  border: 5px solid white;
}

.top_card .profile_info {
  padding: 5em 0 2em;
}

.profile_info h3 {
  display: inline-block;
  margin-right: 0.5em;
  font-family: "poppins";
}
.profile_info h4 {
  color: var(--Darkgray);
  display: inline-block;
  margin-right: 0.5em;
  font-family: "poppins";
}

.profile_info p {
  color: var(--Darkgray);
  font-family: "open sans";
  font-size: 0.8rem;
}

.top_card .line {
  height: 1px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.profile_card .bottom_card {
  box-shadow: 0 0px 5px rgba(black, 0.5);
}

.bottom_card {
  text-align: center;
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
}

.bottom_card h3 {
  font-family: "poppins";
}

.bottom_card p {
  font-family: "poppins";
  font-size: 0.7rem;
  color: var(--Darkgray);
}

@media screen and (max-width: 1600px) {
  body {
    background-size: 60%, 63%;
    background-position: top 50% right 120%, top -40% left 140%;
  }
}

@media screen and (max-width: 1400px) {
  body {
    background-size: 58%, 60%;
    background-position: top 40% right 120%, top -60% left 125%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-size: 58%, 60%;
    background-position: top 35% right 125%, top -75% left 120%;
  }
}

@media screen and (max-width: 1100px) {
  body {
    background-size: 58%, 60%;
    background-position: top 35% right 120%, top -85% left 115%;
  }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  body {
    background-size: 63%, 68%;
    background-position: top 25% right 140%, top -85% left 150%;
  }
}

@media screen and (max-width: 780px) {
  body {
    background-size: auto;
    background-position: top 50% right -120%, top -40% right 220%;
  }
}

@media screen and (max-width: 680px) {
  body {
    background-size: auto;
    background-position: top 50% right -80%, top -40% right 190%;
  }
}

@media screen and (max-width: 620px) {
  body {
    background-size: auto;
    background-position: top 50% right -55%, top -40% right 150%;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-size: auto;
    background-position: top 50% right -35%, top -40% right 130%;
  }
}

@media screen and (max-width: 400px) {
  body {
    background-size: auto;
    background-position: top 45% right -30%, top -40% right 120%;
  }

  .container .profile_card {
    width: 300px;
    margin: auto;
  }
}
